body {
    background-image: url("girl2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
  }


#key{
    top: 80%;
    left: 50%;
    margin-top: 300px;
    margin-left: 1050px;
}

.inventory1{
    position: relative;
    top: 1px;
    right: 60x;
    margin-top: -110px;
    bottom: 20px;
  }

  .dialog{
    top: 10%;
    left: 20%;
    margin-top: -500px;
    margin-left: 650px; 
  }