body {
    background-image: url("garden.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
  }
  #flowers{
    top: 80%;
    left: 50%;
    margin-top: 300px;
    margin-left: 550px;
  }

  #h3{
    border-style: solid;
    background-color: aliceblue;
  }

  .inventory1{
    position: relative;
    top: 1px;
    right: 60x;
    margin-top: -110px;
    bottom: 20px;
  }