body {
    background-image: url("bunker2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
  }

  .inventory1{
    position: relative;
    top: 170px;
    right: -10px;
    margin-top: 100px;
    bottom: 10px;
  }
  
  button{
    color: rgb(0, 0, 0);
    background-color: aqua;
    font-family:monospace
  }