body {
    background-image: url("firstpage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
  }
  div {
    display: flex;
    justify-content: center;
  }
  
  button {
    height: 50px;
    width: 100px;
    margin: 10px;
    font-family: monospace;
  }

  