body {
    background-image: url("store1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
  }
  #beans{
    float:right;
  }
  button {
    background: darkred;
    height: 100px;
    width: 200px;
    margin: 10px;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: 550px;
    font-family: monospace;
  }

  .inventory1{
    position: relative;
    top: 330px;
    right: 60x;
    margin-top: -110px;
    bottom: 20px;
  }
  